.introPage {
    h2 {
        font: bold 30px/1 "poppins";
    }
    
    .introPic {
        margin-top: 50px;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border:2px solid #fff;
        background-image: url(../img/profile_image.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .introduce {
        position: absolute;
        right: 300px;
        top: 200px;
        h3 {
            text-align: right;
            font: bold 25px/1 "noto sans kr";
            margin-bottom: 50px;
        }
        p  {
            text-align: center;
            font: bold 25px/2 "noto sans kr";
        }
    }
    .lang {
        margin-top: 80px;
        // display: flex;
        // justify-content: center;
        ::after {content: ""; display: block; clear: both;}
        li {
            margin: 0 20px 0 20px;
            float: left;
            width: 50px;
            height: 50px;
            border-radius: 10px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            // filter: grayscale(0.4);
            transition: 0.25s;
            &:hover {
                transition: 0.25s;
                // cursor: pointer;
                // filter: grayscale(0); 
            }
            &:nth-of-type(1) {
                background-image: url(../img/html5.png);
            }
            &:nth-of-type(2) {
                background-image: url(../img/css.png);
            }
            &:nth-of-type(3) {
                background-image: url(../img/javascript.png);
            }
            &:nth-of-type(4) {
                background-image: url(../img/sass.png);
            }
            &:nth-of-type(5) {
                background-image: url(../img/react.png);
            }
            &:nth-of-type(6) {
                background-image: url(../img/redux.png);
            }

            p {
                transform: translateY(60px);
                text-align: center;
                font: bold 15px/1 "poppins";
                color: #fff;
            }
        }
    }

}
