#newMessage {
    font: bold 20px/1 "poppins" ;
    .mailHeader {
        width: 100%;
        height: 100px;
        background-color: #555;
        h1 {
            color: crimson;
        }
    }
}